
}
@media screen and (max-width: 500px) {
    body{
        background-color: deeppink;
    }
}
@media screen and (min-width: 550px) and (max-width: 650px){
    body{
        background-color: blue;
    }
}
@media screen and (min-width: 1000px){
    body{
        background-color: green;
    }